<form #form='ngForm' (ngSubmit)="addNewTodo(form)">
    <p class="mt-4">Dodaj nowe zadanie:</p>
    <input type="text" required minlength="4" maxlength="50" [(ngModel)]="todoName" #name='ngModel' name="todo" class="form-control">
    <ng-container *ngIf="form.controls['todo']?.invalid && (form.controls['todo']?.touched || form.controls['todo'].dirty)">
        <app-alert *ngIf="form.controls['todo']?.errors?.['required']" [errorMessage]="'Ta kontrolka nie moze byc pusta'"></app-alert>
        <app-alert *ngIf="form.controls['todo']?.errors?.['minlength']" [errorMessage]="'Ta kontrolka moze miec min 4 znaki'"></app-alert>
        <app-alert *ngIf="form.controls['todo']?.errors?.['maxlength']" [errorMessage]="'Ta kontrolka moze miec max 50 znakow'"></app-alert>
    </ng-container>
    <button type="submit" class="btn btn-primary mt-3" [disabled]="!form.valid">Dodaj zadanie</button>
</form>

